# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class
*.so

# Django / Database
db.sqlite3
*.log
db.sqlite3-journal
*.sqlite3

# Environment
.env
venv/
ENV/
env/
venv.bak/
env.py

# VSCode
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/